.item-table {
    margin: auto;
    border: 1px solid rgba(192, 192, 192, 0.5);
    border-collapse: collapse;
    margin-top: 50px;
}

table tr:nth-child(even) {
    background-color: black;
    /* Replace with the color you want */

}

table tr {
    border: 1px solid rgba(192, 192, 192, 0.5);
    /* Half opacity silver border */
    height: 32px;
}

.etcDescription {
    width: 400px;
}

table.items-table td:nth-child(3) {
    font-size: 0.8em;
}

.itemIcon {
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 5px;
    border-radius: 5px;
}