/* QuestsByLevel.css */
.quests-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    padding-top: 10px;
    display: flex; /* Arrange list items horizontally */
    justify-content: center; /* Center list items horizontally */
    gap: 10px; /* Add 30px space between list items */
    font-size: 22px;
    color: #d4d4d4;
  }
  
  .quest-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the same color as normal text */
    font-size: 22px; /* Set font size to 20px */
    color: #d4d4d4;

  }
  
  .quest-link:visited {
    color: #d4d4d4;
; /* Use the same color as normal text for visited links */
  }

  .quests-title {
    padding-top: 100px;
    text-align: center;
    font-size: 22px;
    color:dodgerblue;
  }