.class-table td, .class-table th {
    border-left: 1px solid white; /* Add a border to the left side of each cell */
    border-right: 1px solid white; /* Add a border to the right side of each cell */
    width: 16.67%;
    text-align: center;
}



.class-table a {
    text-decoration: none; /* Remove underline */
    color: #d4d4d4; /* Set color to white */
}

.class-table a:visited {
    color: #d4d4d4; /* Set color to white for visited links */
}