.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark mode background */
body {
    background-color: #121212;
    color: #fff; /* Text color for dark mode */
}

/* Header styles */
header {
    background-image: linear-gradient(to right, #3c3c3c,#121212);
    padding: 0px 0px 0px 0px; /* Add padding to the top and bottom */
    margin:0px 0px 0px 0px;
}

.navbar {
    display: flex;
}

.nav-btn {
    background-color: transparent; /* Transparent background */
    border: none; /* Remove button border */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove hyperlink underline */
    font-size: 13px;
    padding: 3px 20px 0px 20px; /* Add padding to the buttons */
    margin: 0 5px; /* Add marg,in between buttons */
    cursor: pointer;
    transition: box-shadow 0.3s; /* Smooth transition for box-shadow */
    display: flex; /* Use flexbox */
}
.nav-btn:visited {
    color: white !important;
}

.nav-btn:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3); /* Lighter shadow on hover */
}

.icon {
    margin-right: auto; /* Pushes the icon to the far left */
    height: 37px;
    width: 50px;
    margin: 4px 10px 2px 5px;
}

input[type="search"] {
    width: 200px;
    padding: 5px;
    background-color: #171717;
    color: aliceblue;
    border-radius: 8px; /* Add this line */

}

input[type="submit"] {
    padding: 5px 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-form {
    margin-left: 20px;
}

.iconText {
    color: silver;
    font-family: 'Meiryo', sans-serif;
}
